
  body {
    margin: 12px;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100%;
    background: linear-gradient(to bottom, rgb(25, 95, 246) 0%, rgb(20,136,204) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  @media screen and (min-width: 700px) {
    body {
      margin: 20px;
    }
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media screen and (min-width: 920px) {
    .main-container {
      width: 880px;
      margin: 8px auto;
      font-size: 1.1em;
    }
  }
  
  
  /* location-and-date */
  .location-and-date {
    width: 100%;
  }
  
  .location-and-date__location {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
  
  .location-and-date__time{
    padding: 10px;
  }
  
  /* current-temperature */
  .current-temperature {
    display: flex;
    margin-top: 0.25em;
    width: 100%;
  }
  
  .current-temperature__content-container {
    flex-grow: 1;
    text-align: center;
  }
  
  .current-temperature__value {
    font-size: 5.25em;
    font-weight: 300;
  }
  
  .current-temperature__summary {
    margin-top: -0.5em;
    margin-left: -0.6em;
    text-align: center;
    font-size: 1.125em;
  }
  
  
  
  /* current-stats */
  .current-stats {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
  
  @media screen and (min-width: 700px) {
    .current-stats {
      margin-bottom: 1em;
      padding-bottom: 0;
      border-top: none;
      border-bottom: none;
      border-left: 1px solid rgba(255,255,255,0.5);
    }
  }
  
  .current-stats__value {
    margin-top: 1em;
    font-size: 1.44em;
  }
  
  .current-stats__label {
    color: rgba(255,255,255,0.6);
  }
  
  @media screen and (min-width: 700px) {
    .current-temperature,
    .current-stats {
      width: 50%;
    }
  }
  

  /* next-5-days */
  .next-5-days {
    width: 100%;
    margin-top: 1em;
  }
  
  .next-5-days__container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .next-5-days__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.3em;
    padding: 0.8em 0;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.20);
    font-size: 1.19em;
    text-align: center;
  }
  
  .next-5-days__label {
    color: rgba(255,255,255,0.6);
    font-size: 0.83em;
  }
  
  .next-5-days__date,
  .next-5-days__high,
  .next-5-days__wind {
    width: 33.33333%;
    font-size: 0.95em;
  }
  
  .next-5-days__date,
  .next-5-days__high {
    margin-bottom: 0.6em;
  }
  
  @media screen and (min-width: 450px) {
    .next-5-days__date,
    .next-5-days__high,
    .next-5-days__wind {
      width: 16.666666%;
      margin-bottom: initial;
    }
  
    .next-5-days__date {
      order: -2;
    }
  
  }
  